.container {
  max-width: 500px;
}

.message-list-p {
  font-size: small;
}

.app {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.greeting {
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
}

.name {
  font-weight: bold;
}

.description {
  font-size: 20px;
}
